aio-pika==9.5.3
aiobotocore==2.9.0
aiocsv==1.3.1
aiodynamo==23.10.1
aiofiles==23.2.1
aiohttp==3.9.1
aiohttp-retry==2.9.1
aioitertools==0.12.0
aiormq==6.8.1
aiosignal==1.3.1
amqp==5.3.1
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
azure-cognitiveservices-speech==1.38.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
billiard==4.2.1
-e git+ssh://git@github.com/bolna-ai/bolna.git@fad10bb0cf7e5c09bfaf178e5bb9638e8c666446#egg=bolna
botocore==1.33.13
Brotli==1.1.0
cachetools==5.5.0
celery==5.3.6
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click-spinner==0.1.10
cohere==5.3.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
croniter==1.4.1
cryptography==44.0.0
cssselect2==0.7.0
daily-python==0.9.1
dataclasses-json==0.6.7
datadog-api-client==2.22.0
datasets==2.19.1
decorator==4.4.2
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
evaluate==0.4.3
exceptiongroup==1.2.2
fastapi==0.109.2
fastapi-utilities==0.2.0
fastavro==1.9.7
fastembed==0.3.5
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.55.2
frozenlist==1.5.0
fsspec==2024.3.1
gotrue==2.6.1
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httpx==0.25.2
httpx-sse==0.4.0
huggingface-hub==0.24.3
humanfriendly==10.0
humanize==4.9.0
hyperframe==6.0.1
idna==3.10
ijson==3.3.0
importlib_metadata==8.5.0
infisical-python==2.1.2
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
kombu==5.4.2
lancedb==0.12.0
litellm==1.40.20
llama-cloud==0.1.6
llama-index==0.10.65
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.68.post1
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.1.31
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-index-vector-stores-lancedb==0.1.7
llama-parse==0.4.9
loguru==0.7.3
lxml==4.9.4
MarkupSafe==3.0.2
marshmallow==3.23.1
mixpanel==4.10.1
mmh3==4.1.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==8.0.28
mysqlclient==2.2.7
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.1
onnx==1.17.0
onnxruntime==1.20.1
openai==1.57.1
optimum==1.23.3
overrides==7.7.0
packaging==24.2
pamqp==3.3.0
pandas==2.2.3
passlib==1.7.4
phonenumbers==8.13.49
pillow==10.4.0
plivo==4.47.0
postgrest==0.13.2
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.1
py==1.11.0
pyarrow==18.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pycparser==2.22
pycron==3.1.1
pydantic==2.6.1
pydantic_core==2.16.2
pydub==0.25.1
pydyf==0.11.0
PyJWT==2.10.1
pylance==0.16.0
pymongo==4.8.0
PyMySQL==1.1.1
pypdf==4.3.1
PyPDF2==3.0.1
pyphen==0.17.0
PyStemmer==2.2.0.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.5
python-whois==0.9.5
pytz==2024.2
PyYAML==6.0.2
ratelimiter==1.2.0.post0
razorpay==1.4.2
realtime==1.0.0
redis==5.0.1
regex==2024.11.6
requests==2.31.0
requests-mock==1.12.1
resend==2.2.0
retry==0.9.2
robotexclusionrulesparser==1.7.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.11.4
semantic-router==0.0.46
sentence-transformers==3.0.1
sentry-sdk==2.9.0
six==1.17.0
slack_sdk==3.31.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
SQLAlchemy==1.4.23
starlette==0.36.3
storage3==0.7.7
StrEnum==0.4.15
stripe==8.0.0
striprtf==0.0.26
supabase==2.3.3
supafunc==0.3.3
sympy==1.13.3
tabula-py==2.10.0
tantivy==0.22.0
taskiq==0.11.0
taskiq-aio-pika==0.4.0
taskiq-dependencies==1.5.6
taskiq-fastapi==0.3.1
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.15.2
torch==2.0.0
torchaudio==2.0.1
tqdm==4.67.1
transformers==4.39.3
twilio==8.9.0
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.0.7
uvicorn==0.27.1
uvloop==0.19.0
vine==5.1.0
wcwidth==0.2.13
weasyprint==62.3
webencodings==0.5.1
websockets==10.4
wrapt==1.17.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zopfli==0.2.3.post1
